@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Poiret+One&display=swap');

body {
  font-family:
    Poiret One,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff8f8;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #52555f;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  flex-grow: 1;
}

input,
button {
  padding: 16px;
  border: 1px solid #f1efec;
  background-color: #ffffff;
  outline: none;
  border-radius: 8px;
}

button {
  cursor: pointer;
  color: #52555f!;
}

button:hover,
input:hover {
  background-color: #f1efec;
}

header {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  padding: 16px;
  color: #686a73;
}
a {
  text-decoration: none;
  color: #6390ff;
}

.subtitle_2,
.subtitle_1 {
  color: #686a73;
  font-size: 14px;
}

.subtitle_2 {
  font-size: 12px;
}
